html {
    background-color: rgba(230, 230, 230, 0.4) !important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.padding-ltr {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.data-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    height: auto;
    max-height: 210px;
    width: 300px;

    /* padding: 15px; */

    border-radius: 4px 4px 0px 0px;
}

.data-tile-icon {

    width: 100%;
    font-weight: 100;
}

.stat-title {
    /* padding: 10px; */
    font-size: 1.1rem;
    font-weight: 100;

    padding-top: 12px;
}

.stat {
    font-size: 4.1rem;
    font-weight: 400;
}

.stat-goal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    font-weight: 300;
}

.progress-bar {
    height: 15px;
    background-color: red;

    width: 100%;
}

.map-marker {
    /* background-color: #052049; */
    color: #052049;
    font-size: 4rem;
    height: 100px;
    width: 50px;

    background-image: url('./assets/location.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* border: white 2px solid; */
}